<html lang="en" ng-app="JumboApp">

<head>
    <meta charset="UTF-8" />
    <title>Customer Feedback</title>
    <!-- Set up libs -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="jumbotron.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Set up app -->
    <script src="jumbotron.js"></script>
</head>
<body>
<div class="container" ng-controller="JumboAppController as jumboCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>CATS Box Office</h1>
                <img src="http://media4.popsugar-assets.com/files/2014/08/08/878/n/1922507/caef16ec354ca23b_thumb_temp_cover_file32304521407524949.large/i/Funny-Cat-GIFs.jpg"
                class="img-circle pull-left" />
                <p>Welcome to the CATS box office. Mr. Grumpy will be your concierge for today, and he is delighted
                    to serve you (never mind if he mumbles otherwise). Go ahead, fill in the form and reserve your
                    tickets now.</p>
             </div>
        </div>
    </div>
    <div class="well">
        Form pops up a modal dialog box when submitted.<br>
        Field validations included are:
        <ul>
            <li>Name: minlength = 4; required</li>
            <li>Email: email format; required</li>
            <li>Tickets: min = 2; required</li>
            <li>Date: date format; min = current date; required</li>
        </ul>
    </div>
    <br/>
    <div class="col-md-8">
        <form role="form" name="register" ng-submit="" novalidate>
            <div class="form-group">
                <label for="name">Name:</label>
                <span ng-show="register.name.$touched">
                    <span class="glyphicon glyphicon-flash" ng-show="register.name.$error.minlength">
                        Enter a name that is at least 4 characters in length.</span>
                    <span class="glyphicon glyphicon-flash" ng-show="register.name.$error.required">
                        Name is required.</span>
                </span>
                <input type="text" id="name" name="name" class="form-control" ng-model="jumboCtrl.name"
                       placeholder="Please enter your name." required minlength="4">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <span ng-show="register.email.$touched">
                    <span class="glyphicon glyphicon-flash" ng-show="register.email.$error.email">
                        Invalid e-mail</span>
                    <span class="glyphicon glyphicon-flash" ng-show="register.email.$error.required">
                        E-mail is required.</span>
                </span>
                <input type="email" name="email" id="email" class="form-control" ng-model="jumboCtrl.email"
                       placeholder="Enter a valid e-mail address." required>
            </div>
            <div class="col-md-6 oneline-left">
                <div class="form-group">
                    <label for="quantity">Number of tickets:</label>
                    <span ng-show="register.quantity.$touched">
                        <span class="glyphicon glyphicon-flash" ng-show="register.quantity.$error.min">
                            Min tickets: 2</span>
                        <span class="glyphicon glyphicon-flash" ng-show="register.quantity.$error.required">
                            Please fill.</span>
                    </span>
                    <input type="number" id="quantity" name="quantity" class="form-control"
                           ng-model="jumboCtrl.quantity" min="2" required>
                </div>
            </div>
            <div class="col-md-6 oneline-right">
                <div class="form-group">
                    <label for="date">Date:</label>
                    <span ng-show="register.date.$touched">
                        <span class="glyphicon glyphicon-flash" ng-show="register.date.$invalid">
                            Enter a valid date.</span>
                    </span>
                    <input type="date" id="date" name="date" class="form-control" ng-model="jumboCtrl.date"
                            required min="{{jumboCtrl.minDate | date:'yyyy-MM-dd'}}">
                </div>
            </div>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea rows="6" id="comment" class="form-control" ng-model="jumboCtrl.comment"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success form-control"
                        data-toggle="modal" data-target="#alertBox" ng-disabled="register.$invalid">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-md-4 rightsidebar"><img src="http://data.whicdn.com/images/32969520/original.jpg" /></div>

<!-- Modal -->
    <div id="alertBox" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Purchase Confirmed</h4>
                </div>
                <div class="modal-body">
                    <p>{{ jumboCtrl.name }}, thank you for purchasing {{ jumboCtrl.quantity }} tickets of the
                        {{ jumboCtrl.date | date:'yyyy-MM-dd' }} run of CATS the Musical! We wil email your tickets and the show details
                        to {{ jumboCtrl.email }}.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- container -->
</body>

</html>