.jumbotron img {
    margin-right:30px;
    width: 200px;
}

.jumbotron p {
    margin-top:25px;
}

.rightsidebar img {
    float: right;
}

.col-md-6.oneline-left {
    padding-left: 0px;
}

.col-md-6.oneline-right {
    padding-right: 0px;
}

.glyphicon-flash {
    color: red;
}
